<div ng-controller="CompanyController">
    <h2>{{company.name}}</h2>
    <table class="table">
        <tr>
            <td>Address</td>
            <td>{{company.address}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{company.city}}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>{{company.country}}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{company.email}}</td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>{{company.phone}}</td>
        </tr>
        <tr>
            <td>Owners</td>
            <td><span ng-repeat="owner in company.owners">{{owner.name}}</span></td>
        </tr>
    </table>

    <p>
        <a href="#/companies" class="btn btn-success">
            <b class="icon-home"></b>Back to Album List
        </a>
    </p>
</div>
