<div ng-controller="CompanyController">
    <div class="row-fluid">
        <div class="span3">
            <img src="../../app/img/holder.png" width="128" height="128">
        </div>
        <span class="span9">
            <h2>{{company.name}}</h2>
            <p>{{album.songs.length}} SONGS, <span ng-repeat="u in album.artists">{{u.name}}</span></p>
        </span>
    </div>
    <table class="table">
        <tr>
            <td>Address</td>
            <td>{{e.duration}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{e.duration}}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>{{e.duration}}</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{e.duration}}</td>
        </tr>
        <tr>
            <td>Owners</td>
            <td><span ng-repeat="owner in company.owners">{{owner.name}}</span></td>
        </tr>
    </table>

    <p>
        <a href="#/albums" class="btn btn-success">
            <b class="icon-home"></b>Back to Album List
        </a>
    </p>
</div>
