<div ng-controller="EditCompanyController">
    <h1 class="page-header">Edit Company</h1>
    <form class="form-horizontal" on-submit="void">
            <div class="control-group">
                <label class="control-label" for="name">Company name</label>
                <div class="controls">
                    <input id="name" type="text" class="input-block-level"
                           required="true" ng-model="company.name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="address">Address</label>
                <div class="controls">
                    <input id="address" type="text" class="input-block-level"
                            ng-model="company.address">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="city">City</label>
                <div class="controls">
                    <input id="city" type="text" class="input-block-level"
                           ng-model="company.city">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input id="email" type="text" class="input-block-level"
                           ng-model="company.email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="phone">Phone number</label>
                <div class="controls">
                    <input id="phone" type="text" class="input-block-level"
                           ng-model="company.phone">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="owner">Owner</label>
                <div class="controls">
                    <input id="owner" type="text" class="input-block-level"
                           ng-model="company.owner.name">
                    <input hidden ng-model="company.owner.id">
                </div>
            </div>
        <button ng-click="updateCompany()" type="submit" class="btn btn-primary" style="margin-top: 10px">Update Company</button>
        <button ng-click="cancelEdit()" type="cancel" class="btn btn-default" style="margin-top: 10px">Cancel</button>
    </form>
</div>
